export(polygram)
export(comp_to_ilr)
export(ilr_to_comp)
export(comp_to_bary)
export(bary_to_comp)
export(make_simplex_grid)
export(draw_simplex_frame)
export(add_simplex_grid_lines)
export(predict_polygram)
export(summarize_polygram)
export(polygram_active_edge_summary)
export(polygram_active_edge_mask)
export(classification_metrics)
export(binary_auc)
importFrom(Rcpp, evalCpp)
useDynLib(polygramLCR, .registration = TRUE)
